<h1>Stores</h1>
<div class="container">
  <h4><%= @total %> Total Stores</h4>
  <% @stores.each do |store| %>
    <div class="well col-md-3">
      <a href="/stores/<%= store.id %>"><p>Name: <%= store.name %></p></a>
      <p>Type: <%= store.type %></p>
      <p>Phone: <%= store.phone %></p>
      <p>City: <%= store.city %></p>
      <p>Distance: <%= store.distance %></p>
    </div>
  <% end %>
</div>
